<%=link_to "Wikinimous", articles_path %>
<article><h2><%= @article.title %></h2><%= @article.content %></article>
<%= link_to "Edit", edit_article_path %>
<%= link_to "Return to articles list", articles_path %>
<%= link_to "Delete article", article_path(@article),
data: {turbo_method: :delete, turbo_confirm: "Delete #{@article.title}?"}%>
